@import 'tailwindcss';
@import './styles/dotsBackground.css';
@theme {
  --font-inter: 'Inter', 'sans-serif';
}
@theme {
  --font-open_sens: 'Open Sans', 'sans-serif';
}

@theme {
  --breakpoint-mobile: 20rem;
  --breakpoint-tablet: 38.75rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-computer: 100rem;
}

audio::-webkit-media-controls-play-button {
  background-color: rgb(181, 177, 177);
  border-radius: 50%;
}

@keyframes wave {
  0% {
    height: 5px;
    opacity: 0.6;
  }
  50% {
    height: 25px;
    opacity: 1;
  }
  100% {
    height: 5px;
    opacity: 0.6;
  }
}

.animate-wave {
  animation: wave 0.7s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}


